<nav>
  <div>
    <img class="logo" src="images/logo.png" alt="Floop company logo" />
  </div>
  <ul>
    <li>Calendar</li>
    <li>Statistics</li>
    <li>Client</li>
    <li class="active">Employee</li>
    <li>Designer</li>
  </ul>
  <div class="account-actions">
    <button class="btn-icon">
      <i class="far fa-bell"></i>
    </button>
    <button class="btn-icon">
      <i class="far fa-envelope"></i>
    </button>
    <img src="https://source.unsplash.com/random" alt="" class="avatar" />
  </div>
</nav>